<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text logo-normal">
      <div class="logo-image-small" style="background-color: #222231">
        <img src="assets/img/bhlogo.png" />
      </div>
    </a>
  </div>
  <ul class="nav">
    <li
      *ngFor="let menuItem of menuItems"
      routerLinkActive="active"
      class="{{ menuItem.class }}"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="nc-icon {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>
