<div>
  <label for="warehouse">Customer</label>
  <div>
    <select
      [class.error-input]="
        !customer?.valid && (customer?.dirty || customer?.touched)
      "
      required
      class="form-control"
      [(ngModel)]="selectedCustomerId"
      name="warehouse"
      id="customer"
      #customer="ngModel"
      (ngModelChange)="customerChange()"
    >
      <option *ngFor="let customer of customersList" [value]="customer.id">
        {{ customer.name }}
      </option>
    </select>
    <div
      *ngIf="!customer?.valid && (customer?.dirty || customer?.touched)"
      class="errorc"
    >
      <div *ngIf="customer.errors && customer.errors['required']">
        Required field
      </div>
    </div>
  </div>
</div>
<br />
<div
  class="row"
  id="accountsTable"
  *ngIf="selectedCustomer && selectedCustomer.id"
>
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          Accounts
          <i
            class="fa fa-plus-circle"
            style="cursor: pointer; color: burlywood"
            (click)="open(AccountCreationModal)"
          ></i>
        </h4>
      </div>
      <div class="card-body">
        <div>
          <table class="table">
            <thead class="text-primary">
              <th>ID</th>
              <th>Balance</th>
              <th>Creation date</th>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let account of selectedCustomer.accounts
                    | slice: (page - 1) * pageSize:page * pageSize
                "
              >
                <td>{{ account.id }}</td>
                <td>{{ account.balance }}</td>
                <td>{{ account.creationDate }}</td>
                <td style="width: 20px">
                  <i
                    class="fa fa-eye"
                    (click)="showAccountTransaction(account, TransactionModal)"
                    style="cursor: pointer"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="justify-content-center">
            <ngb-pagination
              [(page)]="page"
              [pageSize]="pageSize"
              [collectionSize]="selectedCustomer.accounts.length"
            ></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #AccountCreationModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Customer : {{ selectedCustomerId }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #Form="ngForm">
      <div class="form-group">
        <label for="number">Intial Credit : </label>
        <div>
          <input
            [class.error-input]="
              !intialCredit?.valid &&
              (intialCredit?.dirty || intialCredit?.touched)
            "
            id="number"
            class="form-control"
            name="intialCredit"
            #intialCredit="ngModel"
            [(ngModel)]="credit"
            required
          />
          <div
            *ngIf="
              !intialCredit?.valid &&
              (intialCredit?.dirty || intialCredit?.touched)
            "
            class="errorc"
          >
            <div *ngIf="intialCredit.errors && intialCredit.errors['required']">
              Required
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      [disabled]="Form.form.invalid"
      (click)="createAccount(); modal.close('Save click')"
    >
      Create Account
    </button>
  </div>
</ng-template>
<ng-template #TransactionModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Customer : {{ selectedCustomerId }} / Account : {{ selectedAccountID }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    ID: {{ selectedTransactions[0].id }} Amount:
    {{ selectedTransactions[0].amount }} Transaction date:
    {{ selectedTransactions[0].transactionDate }}
  </div>
</ng-template>
