/* You can add global styles to this file, and also import other style files */

/*html, body { height: 100%; }*/

/* Importing Bootstrap SCSS file. */
/* @import '~bootstrap/scss/bootstrap';*/
.justify-content-center {
  display: flex !important;
  justify-content: center !important;
}
.errorc {
  color: red;
}
.error-input,
.error-input:focus {
  border: 1px solid red;
  outline: none;
}
.link {
  cursor: pointer;
  color: #51cbce;
  text-decoration: underline;
}
.bg-img {
  background-image: url("/assets/img/bg.png");
}
