<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <!--<li>
                    <a href="https://www.creative-tim.com">
                        Creative Tim
                    </a>
                </li>-->
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy; {{ test | date: "yyyy" }}, made with
      <i class="fa fa-heart heart"></i> by
      <a href="https://www.digivalo.fr">Digivalo</a>
    </div>
  </div>
</footer>
